:root {
  --color-dark-grey: rgba(100, 92, 94, 0.45);
  --color-white: #ffffff;
  --color-black: rgba(0, 0, 0, 0.62);
  --color-yellow: gold;
  --color-light-green: #37b7b7;
  --color-blue: #638ee8;
  --color-violet: #6d2386;
  --color-pink: #b24f84;
  --color-lifgtgrey: #2d2a2a;
  
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  
  --font-size-main: 16px;
  --font-size-header: 26px;
  --font-size-18: 18px;
  --font-size-50: 50px;
  
  --max-width: 1200px;
  
  --border-radius-10: 10px;
  --border-radius-5: 5px;
  
  --transition: .3s;
  
  --font-bold: 600;
  /*Themes*/
  --theme-light-header: #ca6c6f;
  --theme-dark-header: #dfe2df  ;
  --theme-neutral-header: #FFFF00;
  --theme-default-header: var(--theme-neutral-header);
  --theme-light-bgimage: url("../../public/images/for-dark-theme.jpg");
  --theme-dark-bgimage: url("../../public/images/knights-of-ren_2048x1152.jpg");
  --theme-neutral-bgimage: url("../../public/images/backgroundG.jpg");
  --theme-default-bgimage: var(--theme-dark-bgimage);
  
  --text-shadow-blue:  0 0 2px var(--color-white), 0 0 2px var(--color-blue);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: fixed var(--color-black) var(--theme-default-bgimage) center center/cover no-repeat;
  font-size: var(--font-size-main);
}
#root{
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page__title{
  line-height: 1.7;
  padding: 0 var(--spacing-small);
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var( --color-black);
  color: var(--theme-default-header);
  transition: color var(--transition) ease-in-out;
}

ul{list-style: none}
a{
  text-decoration: none;
}

/*SCROLL*/
  /***************************************************/
  /* Firefox */
* {
  scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, .7);
  scrollbar-width: thin;
}

/* Chrome */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(37, 56, 97);
  border-radius: 2px;
  transition: var(--transition);
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .7);
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, .7);
}